.header{
  color: var(--color-text);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: var(--header-footer-height);
  font-weight: 700;
  font-size: 1.2rem;
}


.header-menu-item {
  margin: 0 1rem;
}

.header-menu{
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header{
    flex-direction: column;
    height: calc(1.3 * var(--header-footer-height))
  }
}