.main {
  display: flex;
  min-height: calc(100vh - var(--header-footer-height));
  width: 100vw;
}

.aside {
  width: clamp(270px, 25%, 300px);
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.main-body {
  width: 80%;
  background-color: green;
}

.main-content {
  min-height: calc(100vh - var(--header-footer-height));
}