:root {
  --color-primary: #FBFADA;
  --color-secondary: #3F7251;
  --header-footer-height: 9vh;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Oswald Variable', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-primary);
}